language: clojure
lein: lein2
before_script:
- lein2 version
script: lein2 test
after_success:
- lein2 pallet-release push
env:
  global:
    secure: DTIVXK8jTR+T2D0efQ3LPui1v/WdUsVrAWoLNtz509R1iVM2YYEbhhC02WiGM8LAbWd8K4+xtTaldOIzD42wfeW0PPrsVYs6PhYpVk+34U7Pgnb4qSLDeSLSlhZ51LJac2QQA6dCVK+wVextzFADt1iTzrh1RvHTnr0gESHtoF8=
